GridLayout {
    /*background-color: #245088;*/
    /*color: white;*/
    /*background: linear-gradient(red, yellow);
    background: -webkit-linear-gradient(red, yellow);*/
}

ActionBar {
    background-color:  #0375CD;
    color: white;
}

GridLayout {
    margin-top: 0;
}

Label {
    margin: 4;
}

GridLayout.profile {
    
}

.profile {
    background-color: #0375CD;
    color: white;
}

.title {
    margin: 0;
    margin-top: 8;
    margin-bottom: 4;
    margin-right: 12;
    margin-left: -15;
    color: white;
    font-size: 15;
    padding: 0;
}
.presenter {
    color: #b4cadb;
    font-size: 12;
    margin-bottom: 0;
    margin-left: 4;
}
.name {
    color: white;
    font-size: 14;
}

.separator-title {
    background-color: #ddd;
    color: #222;
    font-size: 14;
    margin: 0;
    margin-top: 8;
    padding: 8;
    padding-left: 16;
}

.abstract {
    font-size: 14;
    margin: 16;
}